[submodule "dependencies/hetu_otp_util"]
	path = dependencies/hetu_otp_util
	url = https://github.com/hetu-community/hetu_otp_util.git
[submodule "dependencies/hetu_spotify_gql_client"]
	path = dependencies/hetu_spotify_gql_client
	url = https://github.com/thumb2086/hetu_spotify_gql_client.git
